* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: inherit;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Pretendard Variable";
}
